<h1>Add a stylist</h1>
<p>Add a stylist here:</p>
<form action="/stylists" method="post">
<label for="stylistName">Stylist Name</label>
<input id="stylistName" name="stylistName" type="text">
<button type="submit">Add</button>
</form>
<p><a href="/"><button class='btn btn-danger'>Back home</button></a> | <a href="/stylists"><button class='btn btn-danger'>Back to Stylists</button></a></p>