<h3>Here are all the customers for this stylist:</h3>
<ul>
 @foreach (var customer in @Model["customers"])
 {
   <li><a href='/stylists/@Model["stylist"].GetId()/customers/@customer.GetCustId()'>@customer.GetCustName()</a></li>
 }
</ul>
<p></p><form action='/stylists/@Model["stylist"].GetId()/customers/new' method="get">
<button type="submit">Add a new customer</button> | <a href='/stylists/@Model["stylist"].GetId()/specialties'>See stylist specialties</a></p>
<p><form action='/stylists/@Model["stylist"].GetId()/delete' method="post">
<button type="submit">Delete Stylist</button></form> <a href='/stylists'>Return to Stylist List</a> <br> <a href='/'>Return to Main Page</a></p>