<h3>Here are all the customers for this stylist:</h3>
<ul>
 @foreach (var customer in @Model["customers"])
 {
   <li><a href='/stylists/@Model["stylist"].GetId()/customers/@customer.GetCustId()'>@customer.GetCustName()</a></li>
 }
</ul>
<p><a href='/stylists/@Model["stylist"].GetId()/customers/new'>Add a new customer</a></p>
<p><a href='/stylists'>Return to stylist list</a></p>
<p><a href='/'>Return to Main Page.</a></p>