<h3>Here are all the customers for this stylist:</h3>
<ul>
 @foreach (var customer in @Model["customers"])
 {
   <li><a href='/stylists/@Model["stylist"].GetId()/customers/@customer.GetCustId()'>@customer.GetCustName()</a></li>
 }
</ul>
<p></p><form action='/stylists/@Model["stylist"].GetId()/customers/new' method="get">
<button type="submit">Add a new customer</button> | <a href='/stylists/@Model["stylist"].GetId()/specialties'><button class='btn btn-danger'>See stylist specialties</button></a></p>
<p><form action='/stylists/@Model["stylist"].GetId()/delete' method="post">
<button type="submit">Delete Stylist</button> | <a href='/stylists'><button class='btn btn-danger'>Return to stylist list</button></a> | <a href='/'><button class='btn btn-danger'>Return to main page</button></a> </p>