<h1>Add a Specialty</h1>
<p>Add a Specialty here:</p>
<form action="/specialties" method="post">
<label for="specialtyName">Specialty Name</label>
<input id="specialtyName" name="specialtyName" type="text">
<button type="submit">Add</button>
</form>
<p><a href="/specialties">Back to Stylists</a> | <a href="/">Back home</a> </p>