<h3>Here are all the stylists with the @Model["specialty"].GetName() specialty:</h3>
<ul>
 @foreach (var stylist in @Model["stylists"])
 {
   <li><a href='/specialties/@Model["specialty"].GetId()/stylists/@stylist.GetId()'>@stylist.GetName()</a></li>
 }
</ul>
<form action='/specialties/@Model["specialty"].GetId()/delete' method="post">
<button type="submit">Delete Specialty</button>
<p><a href='/specialties'><button class='btn btn-danger'>Return to specialty list</button></a> | <a href='/'><button class='btn btn-danger'>Return to Main Page</button></a></p>