<h1>Add a new customer to @Model.GetName()</h1>
<form action='/customers' method='post'>
 <input id='stylistId' name='stylistId' type='hidden' value='@Model.GetId()'>
 <label for='customerName'>Customer Name</label>
 <input id='customerName' name='customerName' type='text'>
 <button type='submit'>Add customer</button>
</form>
