<h1>Add a new customer to @Model.GetStyleName()</h1>
<form action='/customers' method='post'>
 <input id='styleId' name='styleId' type='hidden' value='@Model.GetStyleId()'>
 <label for='customerName'>Customer Name</label>
 <input id='customerName' name='customerName' type='text'>
 <button type='submit'>Add customer</button>
</form>
