<h3>Make changes to customer's information here</h3>
<form action='/allcustomers/{id}/delete' method="post">
<button type="submit">Delete Customer</button>
<p><a href='/allcustomers'><button class='btn btn-danger'>Return to customer list</button></a> | <a href='/'><button class='btn btn-danger'>Return to Main Page</button></a></p>