<h3>Make changes to customer's information here</h3>
<form action='/allcustomers/{id}/delete' method="post">
<button type="submit">Delete Customer</button>
<p><a href='/allcustomers'>Return to customer list</a> | <a href='/'>Return to Main Page</a></p>